

<div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each photos}}
            <img src="{{imageUrl}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>